.signedImage {
    object-fit: contain;
    height: 100%;
    max-width: 100%;
}

.signedImageWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2vh;
}
.imageSign {
    font-style: italic;
    padding-right: 10%;
}