.comment {
    border: .1vh solid var(--button-border-hover);
    border-radius: 2vh;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2% 2%;
    margin: 3% 0;
    justify-content: start;
    box-sizing: border-box;
}
.commentContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.avaText {
    display: flex;
    flex-direction: column;
    padding: 2% ;
    align-items: start;
}

.avaText .authorName {
    font-weight: bold;
    white-space: pre;
}

img {
    height: 5vh;
    min-width: 5vh;
    border-radius: 5vh;
    object-fit: cover;
    margin-right: 1vh;
}
.authorCommentText {

}
.commentAuthorNameDateTime {
    display: flex;
}

.commentDateTime {
    white-space: nowrap;
}
.commentText {

}
.crossed {
    text-decoration: line-through;
}
.ratingControl {
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    padding: 2% 2%;
    align-items: center;
}
.ratingControl .replyButton {
    font-size: 1.5vh;
}
.ratingControl button {
    display: flex;
    align-items: center;
    font-size: 3vh;
    color: var(--text);
    background-color: var(--button-bg);
    margin: 0.2vh;
    height: 60%;
    border: 0.1vh solid var(--button-border);
    border-radius: 0.5vh;
}

.ratingControl button:hover {
    color: var(--text);
    border: 0.1vh solid var(--button-border-hover);
}

.positive {
    color: green;
}

.negative {
    color: red;
}