.reply {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2% 10%;
    align-items: start;
    margin: 3% 0;
}
.replyContainer {
    display: flex;
    flex-direction: column;
}
.replyAvaText {
    display: flex;
    flex-direction: row;
    padding: 2% ;
    align-items: start;
}

.replyAvaText img {
    height: 5vh;
    min-width: 5vh;
    border-radius: 5vh;
    object-fit: cover;
    margin-right: 1vh;
}
.authorReplyText {
    padding: 0;
}
.authorReplyText .replyAuthorName {
    font-weight: bold;
    white-space: pre;
}

.replyAuthorNameDateTime {
    display: flex;
}
.replyDateTime {
    white-space: nowrap;
}
.ratingControl {

    display: flex;
    flex-direction: row;
    padding: 2% 2%;
    align-items: center;
}

.ratingControl button {
    font-size: 2vh;
    display: flex;
    align-items: center;
    color: var(--text);
    background-color: var(--button-bg);
    margin: 0.2vh;
    border: 0.1vh solid var(--button-border);
    border-radius: 0.5vh;
}
.ratingControl .replyButton {
    font-size: 1.5vh;
}
.ratingControl button:hover {
    color: var(--text);
    border: 0.1vh solid var(--button-border-hover);
}