.Content {
    text-align: start;
    background-color: var(--content-background);
    color: var(--text);
    box-sizing: border-box;
    width: 90%;
    padding-top: 0;
    padding-bottom: 0;
}
.articleAuthorInfo{
    display: flex;
}

.ContentPlaceholder {
    padding-top: 5vh;
    font-size: 2.3vh;
}

