.controls {
    padding: 1% 0;
    background-color: var(--content-background);
}

.controlButtons {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}
.controlButtons button {
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 4vh;
    border: 1px solid var(--button-border);
    color: var(--text);
    background-color: var(--button-bg);
    border-radius: 10vh;
    min-width: 50%;
    height: 7vh;
    margin-right: 1vh;
}

.controlButtons button:hover {
    border: 1px solid var(--button-border-hover);
}

.controlsLeft, .controlsRight{
    width: 15%;
    display: flex;
    justify-content: space-between;
}
.controlsRight{
    justify-content: end;
}
