.ProfileBar{

}

.ProfileBarContainer {
    display: flex;
    flex-direction: row;
    padding: 0 0.5rem;
    align-items: center;
}

.NameRating {
    display: flex;
    flex-flow: column;
    justify-items: center;
    font-size: 2vh;
}

.userName {
    font-weight: bold;
}

.positive {
    color: lightgreen;
    font-weight: bold;
}

.negative {
    color: red;
}

img.profilePicture {
    object-fit: cover;
    height: 5vh;
    width: 3vh;
    border-radius: 3vh;
    margin-right: 1vh;
}

.mentions, .settings {
    cursor: pointer;
    font-size: 3vh;
    color: var(--text);
    border: none;
}
.mentions:hover, .settings:hover {
    border: none;
}

.blink_me {
    animation: blinker 3s linear infinite;
}
.blink_me:hover {
    animation-play-state: paused;
}
@keyframes blinker {
    50% {
        box-shadow: 0 0 1vh 0 var(--text);
    }
}

.settingsMenu {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 1.5vh;
    background: var(--background);
    border-radius: 8px;
    box-shadow: 0.1vh 0.1vh 1vh var(--button-border-hover);
    color: var(--text);
    margin: 1% -4.5%;
    padding: 1vh 1vh;
    position: absolute;
    box-sizing: border-box;
}
.settingsMenu > *:nth-child(3) {
    width: 100%;
}

@media screen and (max-width: 650px) and (orientation: portrait){
    .settingsMenu {
        margin: 4% -23%;
    }
}

@media screen and (max-height: 650px) and (orientation: landscape){
    .settingsMenu {
        margin: 1% -10%;
    }
}