.ProfileBarContainer {
    display: flex;
    flex-direction: row;
    padding: 0 0.5rem;
    align-items: center;
}

.NameRating {
    font-size: 1.5vh;
}

.userName {
    font-weight: bold;
}
.positive {
    color: lightgreen;
    font-weight: bold;
}

.negative {
    color: red;
}

img.profilePicture {
    object-fit: cover;
    height: 5vh;
    width: 3vh;
    border-radius: 3vh;
    margin-right: 1vh;
}

.mentions, .settings {
    cursor: pointer;
    font-size: 3vh;
    color: var(--text);
    border: none;
}
.mentions:hover, .settings:hover {
    border: none;
}

.blink_me {
    animation: blinker 3s linear infinite;
}
.blink_me:hover {
    animation-play-state: paused;
}
@keyframes blinker {
    50% {
        box-shadow: 0 0 1vh 0 var(--text);
    }
}

.tooltip::after {
    font-size: 1rem;
    background: var(--background);
    border-radius: 8px;
    box-shadow: 1px 1px 10px var(--button-border-hover);
    color: var(--text);
    content: attr(data-tooltip);
    margin: 2.5% -3%;
    opacity: 0;
    padding: 3px 7px;
    position: absolute;
    visibility: hidden;
    z-index: 2;

    transition: all 0.4s ease-in-out;
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}
.settingsMenu {
    font-size: 1rem;
    background: var(--background);
    border-radius: 8px;
    box-shadow: 1px 1px 10px var(--button-border-hover);
    color: #FFF;
    margin: 2% -5%;
    padding: 1vh 1vh;
    position: absolute;
    visibility: visible;
}