.ProfileBarContainer {
    display: flex;
    flex-direction: row;
    padding: 0 0.5rem;
    align-items: center;
}

.NameRating {
    font-size: 1.5vh;
}

.userName {
    font-weight: bold;
}
.userRating{

}

.positive {
    color: lightgreen;
    font-weight: bold;
}

.negative {
    color: red;
}

img.profilePicture {
    object-fit: cover;
    height: 5vh;
    width: 3vh;
    border-radius: 3vh;
    margin-right: 1vh;
}

img.icon {
    height: 4vh;
    object-fit: contain;
}

.tooltip::after {
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #FFF;
    content: attr(data-tooltip);
    margin: 4rem -4rem;
    opacity: 0;
    padding: 3px 7px;
    position: absolute;
    visibility: hidden;

    transition: all 0.4s ease-in-out; /* Добавить плавности по вкусу */
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}
