.comments {
    background-color: #fefff8;
    display: flex;
    flex-direction: column;
    padding: 2% 20%;
    align-items: start;
}

.authorInfo {
    display: flex;
    align-items: center;
    justify-content: end;
}

.authorPic{
    height: 10vh;
    width: 10vh;
    border-radius: 8vh;
    object-fit: cover;
    padding: 1vh 1vh;
}

.authorName{
    font-size: 2vh;
}

.authorMessage{
    font-size: 2.5vh;
    max-width: 30vw;
}

.yourComment {
    border: 1px solid #c6bdaf;
    border-radius: 3vh;
    min-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    padding: 2% 0;
    background-color: #fefff8;
    display: flex;
    flex-direction: row;
    align-content: start;
}

.yourComment button {
    width: 30%;
    height: 3vh;
}
.isNotActive{
    opacity: 0;
    visibility: hidden;
}

button.isActive {
    opacity: 1;
    visibility: visible;
}

.yourComment img {
    height: 6vh;
    width: 6vh;
    border-radius: 7vh;
    object-fit: cover;
    padding: 1vh 1vh;
}

.yourComment textarea {
    height: 100%;
    width: 100%;
    resize: none;
    border: none;
    background-color: #fefff8;
    overflow: hidden;
    padding: 1%;
    max-lines: 39;
}

.yourComment textarea:focus{
    outline: none;
}

.textAreaContainer {
    min-width: 84%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.commentsDisclaimer {
    padding-left: 30%;
}

.allComments {
    min-width: 100%;
}