.comments {
    background-color: var(--content-background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    padding: 2% 0;
    align-items: flex-start;
}

.authorInfo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.authorPic{
    height: 10vh;
    width: 10vh;
    border-radius: 8vh;
    object-fit: cover;
    padding: 1vh 1vh;
}

.authorName{
    font-size: 2vh;
}

.authorMessage{
    font-size: 2.5vh;
    max-width: 30vw;
}

.yourComment {
    border: 1px solid var(--button-border-hover);
    border-radius: 3vh;
    min-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    padding: 2% 0;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.yourComment button {
    color: var(--text);
    background-color: var(--button-bg);
    border: 0.1vh solid var(--button-border);
    border-radius: 1vh;
    width: 30%;
    height: 3vh;
}
.yourComment button:hover{
    border: 0.1vh solid var(--button-border-hover);
}
.isNotActive{
    opacity: 0;
    visibility: hidden;
}

button.isActive {
    opacity: 1;
    visibility: visible;
}

.yourComment img {
    height: 6vh;
    width: 6vh;
    border-radius: 7vh;
    object-fit: cover;
    padding: 1vh 1vh;
}

.yourComment textarea {
    color: var(--text);
    height: 100%;
    width: 100%;
    resize: none;
    border: none;
    background-color: var(--background);
    overflow: hidden;
    padding: 1%;
}

.yourComment textarea:focus{
    outline: none;
}

.textAreaContainer {
    min-width: 85%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
}

.commentsDisclaimer {
    align-self: center;
}

.allComments {
    min-width: 100%;
}

@media screen and (max-width: 430px){
    .textAreaContainer {
        min-width:75%;
    }
}