.Header{
    font-size: 2vh;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0.2% 0.5%;
    box-sizing: border-box;
    border: 1px solid var(--button-border);
    align-items: center;
}

.Header a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    color: var(--text);
    background-color: var(--button-bg-hover);
    border: 0.1vh solid var(--button-border);
    border-radius: 10vh;
}

.Header a:hover {
    cursor: pointer;
    border: 0.1vh solid var(--button-border-hover);
}

.Header img {
    object-fit: cover;
    height: 5vh;
    width: 3vh;
}

.button {

    padding: 0 1vh;
    height: 4vh;
    white-space: nowrap;
    font-size: 2.1vh;
    background-color: var(--button-bg-hover);
 }

.HeaderLeft {
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderLeft a {
    margin-right: 2vh;
}

.HeaderRight {
    display: flex;
    align-items: center;
}
