.Header {
    font-size: 1.5rem;
    background-color: #faeedd;
    color: #515c5e;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0.2% 0.5%;
    box-sizing: border-box;
    border: 1px solid #eae0c8;
}
.Header a {
    padding: 0 1rem;
    text-decoration: none;
    border: 1px solid #eae0c8;
    border-radius: 5rem;
    background-color: #fff6e1;
}

span {

}
.whiteBorder {

}
.HeaderLeft {
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderLeft a{

}
a:hover {
    cursor: pointer;
    border: 1px solid #c6bdaf;
    color: black;
}
