.popUpWrapper{
    display: flex;
}
.settingsMenu {
    font-size: 1rem;
    background: var(--background);
    border-radius: 8px;
    box-shadow: 1px 1px 10px var(--button-border-hover);
    color: #FFF;
    margin: 2% -5%;
    padding: 1vh 1vh;
    position: absolute;
    visibility: visible;
}
