.light-theme {
    --button-bg: #f7f7f7;
    --button-bg-hover: #ffffff;
    --button-border: #dbdbdb;
    --button-border-hover: #707070;
    --background: #f7f7f7;
    --content-background: #fff;
    --headings: #000;
    --text: #38393e;
}

.dark-theme {
    --button-bg: #141414;
    --button-bg-hover: rgb(255 255 255 / 0.16);
    --button-border: #38393e    ;
    --button-border-hover: #707070;
    --background: #141414;
    --content-background: #222222;
    --headings: #f9fafa;
    --text: #a0aec0;
}

button {
    color: var(--text);
    background-color: var(--button-bg);
    border: 0.1vh solid var(--button-border);
    border-radius: 10vh;
}

button:hover {
    cursor: pointer;
    border: 0.1vh solid var(--button-border-hover);
}

.container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto 1% auto 1% auto 0.4%;
    grid-auto-flow: column;
    grid-template-areas:
    "Ad Ad"
    "Header Header"
    "NavBar Content"
    ". Controls"
    ". Comments"
    "Footer Footer";
    background-color: #faeedd;
    box-sizing: border-box;
}

.NavBarComponent {
    grid-area: NavBar;
    position: sticky;
    top: 6%;
    height: 22%;
    width: 100%;
}

.FooterComponent {
    grid-area: Footer;
    position: sticky;
    bottom: 0;
    height: 100%;
    padding: 0.1%;
}

.ContentComponent {
    grid-area: Content;
    padding: 20%;
}

.HeaderComponent {
    grid-area: Header;
    position: sticky;
    top: 0;
    z-index: 2;
}

.AdComponent {
    grid-area: Ad;
}

.ControlsComponent {
    grid-area: Controls;
}

.CommentsComponent {
    grid-area: Comments;
    height: 97%;
}
