.container {
    display: grid;
    grid-template-columns: 0.4fr 2fr;
    grid-template-rows: 0.3fr 0.1fr 1.9fr 0.2fr;
    grid-auto-flow: column;
    grid-template-areas:
    "Ad Ad"
    "Header Header"
    "NavBar Content"
    "NavBar Footer";
    background-color: #FAEEDD;
}

.NavBarComponent {
    grid-area: NavBar;
    background-color: yellow;
    position: sticky;
    top: 6rem;
    color: #ff0000;
    height: 50%;
    width: 100%;
}

.FooterComponent {
    grid-area: Footer;
    background-color: green;
    color: #fff;
    position: sticky;
    bottom: 0;
}

.ContentComponent {
    grid-area: Content;
    background-color: blue;
    color: #fff;
    height: 60rem;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    font-size: 1rem;
}

.HeaderComponent {
    grid-area: Header;
    position: sticky;
    top: 0;
}
.AdComponent {
    grid-area: Ad;
}
