.container {
    display: grid;
    grid-template-columns: 0.3fr 2fr 0.1fr;
    grid-template-rows: 0.1fr 0.1fr 1.9fr 0.1fr 0.1fr;
    grid-auto-flow: column;
    grid-template-areas:
    "Ad Ad Ad"
    "Header Header Header"
    "NavBar Content Controls"
    ". Comments ."
    ". Footer .";
    background-color: #fefff8;
}

.NavBarComponent {
    grid-area: NavBar;
    position: sticky;
    top: 10.4%;
    height: 20%;
    width: 100%;
}

.FooterComponent {
    grid-area: Footer;
    position: sticky;
    bottom: 0;
}

.ContentComponent {
    grid-area: Content;
    height: 100%;
    width: 100%;
}

.HeaderComponent {
    grid-area: Header;
    position: sticky;
    top: 0;
    z-index: 2;
}
.AdComponent {
    grid-area: Ad;
}

.ControlsComponent {
    grid-area: Controls;
    position: sticky;
    top: 10.4%;
    height: 10%;
}

.CommentsComponent {
    grid-area: Comments;
}
